<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Incubee</title>
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->

<!-- inject:css -->
<link rel="stylesheet" href="/app/styles.css">
<!-- endinject -->
</head>

<body ng-controller="InvestorController as vm">
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1>Incubee</h1>
<div class="row">
	<ul id="incubeesDiv" ng-repeat="customers in vm.customersArray">
		<div id="incubeeDisplayDiv" class="col-sm-3">
			<!-- <img id="incubeeDisplayImage" src="/app/img/one_light.jpg"> -->
			<div id="incubeeHeaderDiv">
				<font size="4.5">{{customers.incubeeDetails.data.company_name}}</font> </br>
				<label class="btn" data-toggle="modal" data-target="#pricePickerModal" ng-click="vm.getReviews(customers.incubeeDetails.data.id)">{{customers.averageRating}}/5 ( {{customers.numberOfRatings}} Reviews )</label>
				<button class="btn" id="likeButton" >Like</button></br>
				<font size="2.5">{{customers.incubeeDetails.data.founder}}</font>
				
			</div>
			<div id="incubeeDetailsDiv">
				<label>{{customers.incubeeDetails.data.description}}</label><br/>
			</div>
		</div>
	</ul>
</div>

  <!-- Modal -->
  <div class="modal fade" id="pricePickerModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="modalDetails">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reviews</h4>
        </div>
        <div class="modal-body">
			<table class="table">
          <thead>
          </thead>
          <tbody class="table">
              <tr ng-repeat="review in vm.reviewsArray">
                  <td>{{review.rating}} , {{review.title}} , {{review.description}} , {{review.userId}} , {{review.date}}</td>
              </tr>
          </tbody>
      </table>
        </div>
      </div>
    </div>
  </div>

<!-- inject:js -->
<script src="/app/app.js"></script>
<script src="/app/investor.controller.js"></script>
<script src="/app/investor.service.js"></script>
<!-- endinject -->
</body>
</html>